/* ABOUT US PAGE */
.indexAboutUs {
    @include flex-center;
    flex-direction: column;

    h1 {
        margin: 3rem 0;
    }

    table {
        margin: 4rem 0;
        border: 1px solid black;

        tr td {
            padding: 0 2rem;
        }
    }
}

.containerAboutUsText {
    padding: 0 5rem;

    h2 {
        margin: 1rem 0;
    }
}