/* CONTACT PAGE */
.indexContact {
    margin: 3rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h1 {
        margin-bottom: 1rem;
    }

    iframe {
        margin-top: 2rem;
    }
}

.contactForm {
    display: flex;
    flex-direction: column;

    label {
        margin: 0.3rem 0;
    }

    input {
        margin: 0 1rem;
    }

    p {
        margin: 1.5rem 0 0.3rem 0;
    }

    textarea {
        margin-bottom: 1rem;
    }

    &__button {
        padding: 0.5rem 0;
        background-color: $primary-color;
        border-style: none;
        border-radius: 4px;
        font-weight: bold;
    }
}