/* MEDIA PAGE */
.indexMedia {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h1 {
        margin-bottom: 2rem;
    }
}